<!-- This is modified from the ananke theme. -->
<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <!-- FIXME hover colour (try SPC-o-p stackoverflow) -->
    <a href="{{ .Site.BaseURL }}" class="link-transition stackoverflow link dib z-999 pt3 pt0-l mr1" title="search for zero homepage">
      {{ $icon_size := "90px" }}
      {{ partial "svg/sfz.svg" (dict "size" $icon_size) }}
    </a>
    <div class="flex-l items-center">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pr3">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
  </div>
</nav>
