<style>
.inline-svg {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  top: 1.15rem;
  position: relative;
}
</style>
<span class="inline-svg">
{{- $fname:=print "icons/" ( .Get 0 ) ".svg" -}}
{{- $path:="<path" -}}
{{- $fill:="<path fill=\"black\"" -}}
{{ replace (readFile $fname) $path $fill | safeHTML }}
</span>
